<div>
    <h1>{{guess}}</h1>
</div>
<div>
    <h1 style="color: red">{{mistake}}</h1>
</div>
<div>
    <button clbuttonss="btn" id="id_button" (click)='btnClick($event)'>a</button>
    <button clbuttonss="btn" id="id_b" (click)='btnClick($event)'>b</button>
    <button clbuttonss="btn" id="id_c" (click)='btnClick($event)'>c</button>
    <button clbuttonss="btn" id="id_d" (click)='btnClick($event)'>d</button>
    <button clbuttonss="btn" id="id_e" (click)='btnClick($event)'>e</button>
    <button clbuttonss="btn" id="id_f" (click)='btnClick($event)'>f</button>
    <button clbuttonss="btn" id="id_g" (click)='btnClick($event)'>g</button>
    <button clbuttonss="btn" id="id_h" (click)='btnClick($event)'>h</button>
    <button clbuttonss="btn" id="id_i" (click)='btnClick($event)'>i</button>
</div>
