<div style="margin-top: 16px">
    <p>Hangman is a paper and pencil guessing game for two or more players. One player thinks of a word, phrase or sentence and the other(s) tries to guess it by suggesting letters or numbers, within a certain number of guesses.</p>
</div>
<div>
    <h1>{{guess}}</h1>
</div>
<div>
    <h1 style="color: red">{{mistake}}</h1>
</div>
<div>
    <button class="btn btn-success" id="id_a" (click)='btnClick($event)'>a</button>
    <button class="btn btn-success" id="id_b" (click)='btnClick($event)'>b</button>
    <button class="btn btn-success" id="id_c" (click)='btnClick($event)'>c</button>
    <button class="btn btn-success" id="id_d" (click)='btnClick($event)'>d</button>
    <button class="btn btn-success" id="id_e" (click)='btnClick($event)'>e</button>
    <button class="btn btn-success" id="id_f" (click)='btnClick($event)'>f</button>
</div>
<div>
    <button class="btn btn-success" id="id_g" (click)='btnClick($event)'>g</button>
    <button class="btn btn-success" id="id_h" (click)='btnClick($event)'>h</button>
    <button class="btn btn-success" id="id_i" (click)='btnClick($event)'>i</button>
    <button class="btn btn-success" id="id_j" (click)='btnClick($event)'>j</button>
    <button class="btn btn-success" id="id_k" (click)='btnClick($event)'>k</button>
    <button class="btn btn-success" id="id_l" (click)='btnClick($event)'>l</button>
</div>
<div>
    <button class="btn btn-success" id="id_m" (click)='btnClick($event)'>m</button>
    <button class="btn btn-success" id="id_n" (click)='btnClick($event)'>n</button>
    <button class="btn btn-success" id="id_o" (click)='btnClick($event)'>o</button>
    <button class="btn btn-success" id="id_p" (click)='btnClick($event)'>p</button>
    <button class="btn btn-success" id="id_q" (click)='btnClick($event)'>q</button>
    <button class="btn btn-success" id="id_r" (click)='btnClick($event)'>r</button>
</div>
<div>
    <button class="btn btn-success" id="id_s" (click)='btnClick($event)'>s</button>
    <button class="btn btn-success" id="id_t" (click)='btnClick($event)'>t</button>
    <button class="btn btn-success" id="id_u" (click)='btnClick($event)'>u</button>
    <button class="btn btn-success" id="id_v" (click)='btnClick($event)'>v</button>
    <button class="btn btn-success" id="id_w" (click)='btnClick($event)'>w</button>
    <button class="btn btn-success" id="id_x" (click)='btnClick($event)'>x</button>
</div>
<div>
    <button class="btn btn-success" id="id_y" (click)='btnClick($event)'>y</button>
    <button class="btn btn-success" id="id_z" (click)='btnClick($event)'>z</button>
</div>
